{% extends "base.html" %}

{% block title %}Update Watched{% endblock %}

{% block content %}
<h2>Update Watched Item</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.comment.label(class="form-label") }}
        {{ form.comment(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.my_rating.label(class="form-label") }}
        {{ form.my_rating(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-success") }}
</form>
{% endblock %}
